
  .logo {
    height: 30px;
    width: auto;
  }

  span.website-name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  /* Add more styles as needed */
}

  .logoimg {
    height: 40px;
    width: auto;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .menu li a:hover {
    color: #000;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
  }

  .lgout {
    cursor: pointer;
  }
  
  .parent-container {
    position: relative;
  }
  
  .navbar {
    position: fixed;
  top: 10px; /* Adjust the top margin as needed */
  left: 20px; /* Adjust the left margin as needed */
  right: 20px; /* Adjust the right margin as needed */
  padding: 10px; /* Adjust the padding as needed */
  background-color: rgba(151, 151, 151, 0.389);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  align-items:center; 
  }
  /* Styles for the footer */
/* Styles for the footer */
/* Responsive Footer Styles */
footer {
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 0 0 300px;
  margin-bottom: 20px;
}

.footer-column h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.social-media a {
  color: #555;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 14px;
  color: #555;
}

.footer-bottom a {
  color: #555;
  text-decoration: none;
  margin-left: 5px;
}



  
  
  
  
  
  /* Include Font Awesome CSS */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
    